{% extends "form.html" %}
{% block title %}登录{% endblock %}
{% block target %}{{ url if url else "/login" }}{% endblock %}
{% block content %}
<div class="form-group">
    <label for="username">电子邮件地址/用户名</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="电子邮件地址/用户名">
</div>
<div class="form-group">
    <label for="password">密码</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="密码">
</div>
<button type="submit" class="btn btn-primary">登录</button>
{% endblock %}